.container {
	display: flex;
	align-items: center;
  }
  .texto {
	flex: 1;
	padding-right: 20px;
  }
  body{
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	padding: 20px;
	background-color: #0a000a;
  }
  h1 {
	position: relative;
	text-align: center;
	color: aliceblue;
	text-decoration: underline;
  }
  h1::before,
  h1::after {
	content:"";
	position: absolute;
	top: 50%;
	width: 40px;
	height: 30px;
	transform: translateY(-50%);
  }

  h1::before {
	left: 0;
	background-image: url("adesivo-de-parede-100x100cm-bat-morcego-r1793-decoracao-removebg-preview.png");
	background-size: cover;
  }

  h1::after {
	right: 0;
	background-image: url("adesivo-de-parede-100x100cm-bat-morcego-r1793-decoracao-removebg-preview.png");
	background-size: cover;      
  }
  .img {
	flex: 1;
	width: 400px;
	border: 2px solid #fff;
	padding: 5px;

  }
  .img2{
	width: 300px;
	border: 3px solid #fff;
	padding: 5px;
  }
  .oba{
	color: whitesmoke;
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	padding-left: 20px;
	text-decoration: underline;
		 
  }
  li {
	color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 19px;
  }
  .bom {
	color: white;
	font-size: 21px;
	text-indent: 24px;
 }